.Register {
  border: 2px solid black;
  padding: 2px;
  text-align: left;
}
.Register p {
  text-align: left;
  margin: 5px;
}

.Register h1 {
  text-align: center;
}

.Register button {
  margin: 5px;
  float: right;
}

.Register input {
  margin: 5px;
}

.Register:before,
.Register:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.Register:after {
  clear: both;
}
