.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  color: #40a4c8;
  font-weight: bolder;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
  cursor: pointer;
}

@media (max-width: 480px) {
  .DesktopOnly {
    display: none;
  }
}
