.Login {
  border: 2px solid black;
  padding: 2px;
  text-align: left;
}
.Login p {
  text-align: left;
  margin: 5px;
}

.Login h1 {
  text-align: center;
}

.Login button {
  margin: 5px;
  float: right;
}

.Login input {
  margin: 5px;
}

.Login:before,
.Login:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.Login:after {
  clear: both;
}
